<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <%- include('./components/head') %>
</head>

<body>

    <%- include('./components/nav') %>

    <header>
        <img src="/img/banner.png" alt="banner">
    </header>


    <main>

        <section id='cards'>

            <% pokedex.forEach((pokemon)=> { %>
                <div class="card">
                    <img src="<%= pokemon.imagem %>" alt="">
                    <h3>
                        <%= pokemon.nome %>
                    </h3>
                    <p class="descricao">
                        <%= pokemon.descricao %>
                    </p>
                    <p>Tipo: <%= pokemon.tipo %>
                    </p>
                    <a id="editar" href="/getById/<%= pokemon.id %>/put">Editar</a>
                    <a id="apagar"  href="/getById/<%= pokemon.id %>/delete">Apagar</a>
                </div>
                <% }) %>

        </section>
    </main>

    <% if (pokemonPut != null) {%>
        <%- include('./components/modalPut') %>
    <% } %>

    <% if (pokemonDel != null) {%>
        <%- include('./components/modalDel') %>
    <% } %>

    <%- include('./components/footer') %>

</body>

</html>